{% extends "CmfBlogBundle::default_layout.html.twig" %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        {% if cmf_prev(post) %}
            <a href="{{ path(cmf_prev(post)) }}">&lt;&lt; {{ cmf_prev(post).title }}</a>
        {% endif %}
    </div>
    <div class="span6" style="text-align: right">
        {% if cmf_next(post) %}
            <a href="{{ path(cmf_next(post)) }}">{{ cmf_next(post).title }} &gt;&gt;</a>
        {% endif %}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h1>{{ post.title }}</h1>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <p><i>Posted on: {{ post.date.format('Y-m-d H:i:s') }}</i></p>
    </div>
    <div class="span6" style="text-align: right">
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {{ post.body|nl2br|raw }}
    </div>
</div>
{% endblock %}

